apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: employee-service
  template:
    metadata:
      labels:
        app: employee-service
    spec:
      containers:
        - name: employee-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
